.calculator {
    padding: 2rem 1rem 1rem;
  }
.amountSlider {
    padding: 1rem;
}
.rightAmount {
  color: initial;
}
.wrongAmount {
  color: red;
}
.rangeSlider {
  -webkit-appearance: none;
  appearance: none;
  height: .5rem;
  border-radius: .5rem;
  background: rgba(79, 70, 165, 0.15);
  background-image: linear-gradient(#32bffd, #27cdfd);
  background-repeat: no-repeat;
  cursor: pointer;
}
.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #27cdfd;
  background: linear-gradient(to left, #21d4fd, #32bffd);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background-size .3s ease-in-out;
}
.rangeSlider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #27cdfd;
  background: linear-gradient(to left, #21d4fd, #32bffd);
  cursor: ew-resize;
  border: none;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .33);
  -moz-transition: background-size .3s ease-in-out;
  transition: background-size .3s ease-in-out;
}
.rangeSlider::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.rangeSlider::-moz-range-track  {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
/* Chrome, Safari, Edge, Opera */
.hideArrows::-webkit-outer-spin-button,
.hideArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.hideArrows {
  -moz-appearance: textfield;
}